<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>{{ title }}</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
  <h1><a href="/">indie blog</a></h1>
</header>

<main>
  {{ content | safe }}
</main>

<hr>

<footer>
  <small>сделано мной</small>
</footer>

</body>
</html>